asn1crypto==0.24.0
backdoor-factory==0.0.0
capstone==3.0.4
certifi==2021.10.8
chardet==4.0.0
configparser==3.5.0
cryptography==2.1.4
dnslib==0.9.14
docopt==0.6.2
enum34==1.1.6
Flask==1.1.2
future==0.15.2
gyp==0.1
idna==2.10
impacket==0.9.23.dev1+20210212.143925.3f3002e1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
ldap3==2.9
ldapdomaindump==0.9.3
pefile==2017.11.5
pipreqs==0.4.11
psutil==5.4.2
pwncat==0.4.3
pyasn1==0.4.8
pycairo==1.16.2
pycrypto==2.6.1
pycryptodomex==3.10.1
pygobject==3.26.1
pyOpenSSL==20.0.1
python-magic==0.4.16
pyxdg==0.25
requests==2.26.0
rich==10.6.0
sage==8.1
SecretStorage==2.3.1
six==1.11.0
spark-parser==1.8.9
uncompyle6==3.7.4
urllib3==1.26.7
xdis==5.0.7
yarg==0.1.9
zodburi==2.5.0
