

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	transition:1s ease;

}

body{
	background-color:rgb(65, 65, 65,0.1);

}
.center{
	text-align:center;
}
.bold{
	font-weight:bold;
}

.light{
	font-family: 'Yaldevi', sans-serif;
	color:rgb(0,0,0,0.7);
	font-size:15px;
}

.normal{
	font-size:15px;

}
.big{
	font-size:70px;
}
.medium{
	font-size:25px;
}

a {
	text-decoration: none;
}

.heading{
	font-family: 'Yaldevi', sans-serif;
	color:rgb(0, 0, 0,0.8);
	font-weight: bold;

}

.subheading{
	font-family: 'Yaldevi', sans-serif;
	color:rgb(50, 54, 55,0.7);
	font-family: monospace;
	font-weight: bold;
}


.button{
	float:right;
	display: inline;
	height:40px;
	min-width:80px;
	padding:5px;
	border:none;
	border-radius:5px;
	display:inline-block;
}

.small-button{
	height:30px;

}
.white{
	color:white;
}
.blue{
	color:rgb(74, 86, 234);
}
.blue-button {
	color:rgb(74, 86, 234);
	background-color:rgb(74, 86, 234,0.4);

}

.clearfix{
	clear: both;
}

.container{

	background-color:#fff;
	min-height:100px;
	overflow:auto;
	/*border:1px solid red;*/
	width: 90%;
	border-radius: 4px;
	padding:20px;
	margin:10px auto;
	box-shadow: 2px 2px 4px 0px rgb(50, 54, 55,0.2);
}
.semi-container{
	/*border:1px solid red;*/
	overflow:auto;
	height: inherit;
	margin:1px auto;
	width:100%;
}

.form{
	width: 100%;
	margin:auto;
	min-height:200px;
	padding:10px;
	margin:1px auto;
	

}

input[type=text],input[type=password],input[type=email],input[type=submit],textarea{
	width: 97%;
	font-family: sans-serif;
	border-radius:4px;
	border:1px transparent;
	background-color:rgb(50, 54, 55,0.1);
	padding:5px;
	font-weight: normal;
	margin-bottom:10px;
	display: block;
	height: 35px;
}



input[type=submit]{
	width: 30%;
	border-radius:4px;
	background-color:rgb(0, 191, 69,0.8);
	border:transparent;
	padding:5px;
	margin-bottom:10px;
	display: inline-block;
	height: 35px;
}

textarea{
	height: 200px;

}


table,th,tr,td {
 text-align: left;
}

th {
 text-align: left;
  /*border-bottom:1px solid black;*/
  font-family: 'Yaldevi', sans-serif;
  font-size: 15px;
}


td{
	color:rgb(0, 0, 0,0.8);
	padding-top:15px;
	/*background-color:red;*/
}

.link-text{
	color:rgb(0, 0, 0,0.8);
	font-size: 12px;
	font-family: 'Yaldevi', sans-serif;
}

.link{
	text-decoration: none;
	color:inherit;
}

.item{
	height:330px;
	/*border:1px solid red;*/
	margin:1px auto;
	width:33.3%;
	padding:20px;
	box-sizing: border-box;
	float:left;

}


.header-text{
	margin:20px auto;
	width:95%;

}

.item-box{
	border-radius: 5px;
	/*border:1px solid yellow;*/
	background-color:rgb(65, 65, 65,0.1); 
	height: 80%;
}

.item-text{
	padding:10px;
	text-align: center;
}

@media screen and (max-width: 992px) {


	.item{
		height:250px;
	}
}


/*Small screens*/
@media screen and (max-width: 650px) {

	.container{
		width: 100%;
		margin-top:0px;
		margin-bottom:10px;
	}
	.form{
		min-height: 400px;
	}

	.header-text{
		margin:20px auto 0px auto;
		width:60%;

	}
	.item{
		height: 300px;
		width: 70%;
		float:none;
	}
}