@font-face {
  font-family: 'Yaldevi';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/yaldevi/v1/cY9afj6VW0NMrDWtDNzCOwlPMq9SLpeWIDvo.ttf) format('truetype');
}
