.main--content{
  justify-content: center;
}
.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0,0,.7);
  display: grid;
  place-items: center;
  visibility: hidden;
  pointer-events: none;
}

.close--cover {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  color: red;
}

.show--cover {
  visibility: visible;
  pointer-events: all;
}
.popup {
  position: absolute;
  color: #fff;
  width: 30rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: #0056b3;
  visibility: hidden;
  pointer-events: none;
}

.show--modal {
  visibility: visible;
  pointer-events: all;
}

.flex--form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.form--input {
  width: 45%;
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}
.form--input input, select{
  padding: .2rem;
  background-color: #fff;
  border: none;
}
.btn--group {
  margin:1rem 0;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn {
  padding: .5rem 2rem;
  background-color: #fff;
}
.long--flex {
  width: calc(90% + 1rem);
}
body{
	overflow-y:scroll;
}