<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>Serve Watch - {{ title }}</title>
	{% else %}
	<title>Serve Watch</title>
	{% endif %}

	<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/Yaldevi.css') }}">

</head>
<!-- Auto reload script -->
<script>
	document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>



	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category,message in messages %}
			<div class="alert {{ category }}">
				<p>{{ message }}</p>
			</div>
			{%endfor %}
		{% endif %}
	{% endwith%}

	{% block content %} {% endblock %}

	{% block footercontent %} {% endblock %}
</body>
</html>