{% extends "header.html" %}
{% block content %}
<div class="container">

	<h class="medium heading ">{{ title }}</h>
	<br/>
	<br/>
	<p class="subheading">This is the {{title }} page</p>
	<form action="" method="POST" class="form">
		{{ form.hidden_tag() }}



		{% if form.username.errors %}
			{{ form.username(placeholder="Username") }}		
			{% for error in form.username.errors %}
				<div class="message fail">
					<p>{{ error }}</p>
				</div>
			{% endfor%}
		{% else %}
			{{ form.username(placeholder="Username") }}		
		{% endif %}	




		{% if form.password.errors %}
			{{ form.password(placeholder="password") }}		
			{% for error in form.password.errors %}
				<div class="message fail">
					<p>{{ error }}</p>
				</div>
			{% endfor%}
		{% else %}
			{{ form.password(placeholder="password") }}		
		{% endif %}	


	
	
	
		{{ form.submit(value="Login") }}		

	
		
		<br/>
		<br/>
		
		<p class="link-text"><a href="{{ url_for('login') }}" class="link">Already have an account? Login Here </a></p>
	</form>

</div>
{% endblock %}

