{% extends "header.html" %}
{% block content %}
<div class="container">

	<h class="medium heading ">{{ title }}</h>
	<br/>
	<br/>
	<p class="subheading">This is the {{title }} page</p>
	<form action="/register" method="POST" class="form">
		{{ form.hidden_tag() }}

		{{ form.fname(placeholder="First Name") }}	

		{% if form.username.errors %}
		
		{% endif %}	
		{{ form.lname(placeholder="Last Name") }}		
		{{ form.username(placeholder="Username") }}		
		{{ form.phone(placeholder="Phone") }}		
		{{ form.email(placeholder="Email") }}		
		{{ form.password(placeholder="Password") }}		
		{{ form.confirm_password(placeholder="Confirm Password") }}		
		{{ form.submit(value="Register") }}		

	
		
		<br/>
		<br/>
		
		<p class="link-text"><a href="{{ url_for('login') }}" class="link">Already have an account? Login Here </a></p>
	</form>

</div>
{% endblock %}

