{% extends "header.html" %}
{% block content %}
<div class="container">

	<h class="medium heading ">{{ title }}</h>
	<br/>
	<br/>
	<p class="subheading">This is the {{title }} page</p>
	<form action="/register" method="POST" class="form">
		{{ form.hidden_tag() }}

		{% if form.fname.errors %}
			{{ form.fname(placeholder="First Name") }}		
			{% for error in form.fname.errors %}
				<div class="message fail">
					<p>{{ error }}</p>
				</div>
			{% endfor%}
		{% else %}
			{{ form.fname(placeholder="Last Name") }}		
		{% endif %}	

		{% if form.lname.errors %}
			{{ form.lname(placeholder="Last Name") }}		
			{% for error in form.lname.errors %}
				<div class="message fail">
					<p>{{ error }}</p>
				</div>
			{% endfor%}
		{% else %}
			{{ form.lname(placeholder="Last Name") }}		
		{% endif %}	


		{% if form.username.errors %}
			{{ form.username(placeholder="Username") }}		
			{% for error in form.username.errors %}
				<div class="message fail">
					<p>{{ error }}</p>
				</div>
			{% endfor%}
		{% else %}
			{{ form.username(placeholder="Username") }}		
		{% endif %}	

		{% if form.phone.errors %}
			{{ form.phone(placeholder="phone") }}		
			{% for error in form.phone.errors %}
				<div class="message fail">
					<p>{{ error }}</p>
				</div>
			{% endfor%}
		{% else %}
			{{ form.phone(placeholder="phone") }}		
		{% endif %}	
	
		{% if form.email.errors %}
			{{ form.email(placeholder="email") }}		
			{% for error in form.email.errors %}
				<div class="message fail">
					<p>{{ error }}</p>
				</div>
			{% endfor%}
		{% else %}
			{{ form.email(placeholder="Email") }}		
		{% endif %}	


	
		{{ form.password(placeholder="Password") }}		
		{{ form.confirm_password(placeholder="Confirm Password") }}		
		{{ form.submit(value="Register") }}		

	
		
		<br/>
		<br/>
		
		<p class="link-text"><a href="{{ url_for('login') }}" class="link">Already have an account? Login Here </a></p>
	</form>

</div>
{% endblock %}

